body {
    background-color: rgb(243, 242, 242);
    font-family: sans-serif;
}

.container {
     position: relative;
     width: 100vw;
     height: 100vh;
}

/* MAIN BOXES */
.signup, .success {
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    max-width: 300px;
    box-shadow: 0 0 10px #d7d7d7;
}
.success {
    max-width: 350px;
}



/* FONT STYLES */
h1 {
    font-weight: normal;
    font-size: 20px;
}
.success h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px
}
.success h2 {
    font-size: 24px;
}
h1,h2 {
    line-height: 8px;
}


p{
    font-size: 14px;
}
p.email {
    font-weight: bold;
    padding-bottom: 20px;
}
.success p {
    padding-top: 5px;
}

/* FORM STYLES */
.signup label{
    font-weight: bold;
    font-size: 14px;
}

.signup input {
    margin: 5px 0px;
    border: solid 1px rgb(216, 215, 215);
    border-radius: 5px;
    width: 100%;
    padding: 3px;
}

/* BUTTONS */
input.submit, input.signin {
    position: relative;
    left: 228px;
    width: 80px;
     color: white;
     background-color:red;
     border: none;
     padding: 7px 7px;
     border-radius: 5px;
     font-size: 14px;
    }
    
    input.signin {
        left: 275px;
    }
    